@font-face {
    font-family: "Flaticon";
    src: url("../src/Framework/Content/fonts/flaticon/files/flaticon.eot");
    src: url("../src/Framework/Content/fonts/flaticon/files/flaticon.eot#iefix") format("embedded-opentype"),
    url("../src/Framework/Content/fonts/flaticon/files/flaticon.woff") format("woff"),
    url("../src/Framework/Content/fonts/flaticon/files/flaticon.ttf") format("truetype"),
    url("../src/Framework/Content/fonts/flaticon/files/flaticon.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Frutiger Regular";
    src: url("../src/Framework/Content/fonts/frutiger-neue/files/FrutigerNeueLTW1G-Regular.otf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Frutiger Thin";
    src: url("../src/Framework/Content/fonts/frutiger-neue/files/FrutigerNeueLTW1G-Thin.otf");
    font-weight: normal;
    font-style: normal;
}
